/* ### GENERAL ### */
* { padding: 0px; margin: 0px; }
html, body { font: 12px Arial, Verdana; height: 100%; background: url('../Images/pageBg.jpg') left top repeat; }
img { border: 0px; }

/* ### GLOBAL STYLE ### */
.clear { clear: both; height: 1px; }

/* ### PROGRESS/LOADING ICON ### */
.processCover { position: absolute; width: 100%; height: 100%; display:block; background: rgba(0%, 0%, 0%, 0.6); bottom:0px; z-index: 9999; text-align: center; text-decoration: blink; color: #fff; }
.processCover .loading { position: absolute; top: 50%; left: 50%; margin-top: -100px; margin-left: -250px; height: 140px; width: 500px; padding-top: 60px; background: rgba(0,0,0,0.1); font: bold 500% arial; }
.processCover .loading p { font: bold 25px arial; }
.processCover .cancelButton { position: absolute; bottom: 20px; right: 20px; }

.defaultMenu { width: 100%; text-align: center; height: 40px; }
.defaultMenu ul li { display: inline; list-style: none; padding: 5px; }
.defaultMenu ul li a { border: 1px solid #000; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding: 10px 30px; text-decoration: none; color: #fff; font-weight: bold; background: -moz-linear-gradient(top,  #ccc,  #000 50%); background: -webkit-gradient(linear, left top, left bottom, from(#ccc),color-stop(50%, #000), to(#000)) }
.defaultMenu ul li a:hover { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }

/* ### ARROW MENU USED IN POPUP ### */
.arrowMenu { width: 100%; text-align: center; }
.arrowMenu ul li { display: block; list-style: none; padding: 25px 5px; }
.arrowMenu ul li a { border: 1px solid #000; border-radius:3px; -moz-border-radius:5px; -webkit-border-radius:5px; padding: 10px; text-decoration: none; color: #fff; font-weight: bold; background: -moz-linear-gradient(top,  #ccc,  #000 50%); background: -webkit-gradient(linear, left top, left bottom, from(#ccc),color-stop(50%, #000), to(#000)) }
.arrowMenu ul li a:hover { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }

/* ### SMALL BUTTON HORIZONTAL ### */
.CollapseContentStyle .smallButton { width: 100%; text-align: center; }
.CollapseContentStyle .smallButton ul li { display: block; float: left; list-style: none; padding: 5px 5px; }
.CollapseContentStyle .smallButton ul li a { border: 1px solid #000; border-radius:3px; -moz-border-radius:5px; -webkit-border-radius:5px; padding: 10px 15px; text-decoration: none; color: #fff; font: bold 12px arial; background: -moz-linear-gradient(top,  #ccc,  #000 50%); background: -webkit-gradient(linear, left top, left bottom, from(#ccc),color-stop(50%, #000), to(#000)) }
.CollapseContentStyle .smallButton ul li a:hover { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }

/* ### WRAPPER ### */
#wrapper { position: relative; display: block; width: 100%; min-height: 100%; text-align: justify; }
#wrapper .turn-page, #innerPage .turn-page  { background-color:#cccccc; }

#innerPage { width: 100%; min-height: 100%; text-align: justify; background: url('../Images/pageBg.jpg') left top repeat; }

/* ### HEADER ### */
header { position: fixed; top: 0px; z-index: 400; width: 100%; height: 92px; background: url('../Images/headerBg.jpg') left top repeat-x; }

	/* ### TOP NAVIGATION ### */
	/* #nav, #nav ul{ list-style-type:none; list-style-position:outside; position:relative; top: 9px; width: 100%; z-index:99999; }
	#nav a{ display:block; color:#0f0f0f; text-decoration:none; font: 17px arial; }
	#nav li{ float:left; position:relative; }
	#nav li.right{ float:right; position:relative; }
	#nav ul { z-index:99999; width: 200px; position:absolute; display:none; top:40px; left: 20px; background: #dcdfe5; border: 10px solid #000000; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
	#nav li.right ul { right: 20px; left: auto; }
	#nav li ul li { float: none; }
	#nav li ul a{ display: block; padding: 15px 0px 15px 10px; background: url('../Images/nextArrow.png') 99% 49% no-repeat, url('../Images/menuBorder.jpg') left bottom repeat-x; }
	#nav li ul a.disableButton{ color: #a3a3a3; }
	#nav li ul a.disableButton:hover { color: #a3a3a3; background: url('../Images/nextArrow.png') 99% 49% no-repeat, url('../Images/menuBorder.jpg') left bottom repeat-x; }
	#nav li ul a:hover { background: #58595c url('../Images/nextArrow.png') 99% 49% no-repeat; color: #fff; }
	#nav ul ul{ z-index:99999; top:10px; }	
	#nav li ul ul { z-index:99999; left:17em; margin:0px 0 0 10px; }
	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{ display:none; }
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{ display:block;} */
	
	#nav, #nav ul{ list-style-type:none; list-style-position:outside; position:relative; top: 9px; width: 100%; z-index:9999; }
	#nav a{ display:block; color:#0f0f0f; text-decoration:none; font: 17px arial; }
	#nav li{ float:left; position:relative; z-index:9999; }
	#nav li.right{ float:right; position:relative; }
	#nav ul { z-index:9999; width: 200px; position:absolute; display:none; top:40px; left: 20px; background: #dcdfe5; border: 10px solid #000000; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
	#nav li.right ul { right: 20px; left: auto; }
	#nav li ul li { float: none; z-index:9999; }
	#nav li ul a{ display: block; padding: 15px 0px 15px 10px; background: url('../Images/nextArrow.png') 99% 49% no-repeat, url('../Images/menuBorder.jpg') left bottom repeat-x; }
	#nav li ul a.disableButton{ color: #a3a3a3; }
	#nav li ul a.disableButton:hover { color: #a3a3a3; background: url('../Images/nextArrow.png') 99% 49% no-repeat, url('../Images/menuBorder.jpg') left bottom repeat-x; }
	#nav li ul a:hover { background: #58595c url('../Images/nextArrow.png') 99% 49% no-repeat; color: #fff; }
	#nav ul ul{ z-index:9999; top:10px; }	
	#nav li ul ul { z-index:9999; left:192px; margin:0px 0 0 10px; }
	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{ display:none; }
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{ display:block;}
	
	/* ### NOTIFICATION/ALARM ICON ### */
	.notiAlarm { position: absolute; top: 10px; right: 130px; }
	.notiAlarm a { margin-left: 15px; }
	
	/* ### BREADCRUM ### */
	#breakcrum { position: fixed; top: 57px; width: 100%; height: 35px; z-index:300; background: url('../Images/breadCrumBg.jpg') left top repeat-x; text-align:center; line-height: 32px; font-weight: bold; text-transform:uppercase; font-size: 13px; }
	#breadcrumSelect { position: absolute; z-index: 8888; left: 240px; top: 64px; font-weight: bold; }
	#breadcrumSelect select { width: 200px;}
	#breakcrum .backButton { float: right; padding: 3px 15px 2px 2px; }

	/* ### LEFT PANEL STYLE ### */
	#leftPanelSlide { display:block; position: absolute; left: 148px; bottom: 10px; z-index: 600 }	
	#leftPanelBackButton { display:block; position: absolute; left: 30px; bottom: 10px; z-index: 600 }
	aside { width: 230px; position: absolute; left: 0; z-index: 300; top: 57px; text-align: right; border-right: 1px solid #ff5555; background: #fff; overflow: auto;height: 700px; }
	aside #leftInner { border-right: 1px solid #ff5555; margin-right: 2px; background: url('../Images/asideBg.jpg') left top repeat-y; }
	/*aside #leftInner { border-right: 1px solid #ff5555; margin-right: 2px; }*/
	
	/* ### RIGHT PANEL STYLE ### */
	.rightCover { width: 100%; overflow: hidden; }	
	#rightCntr { float: right; overflow: auto; }
    #rightCntr1 { float:right; overflow: auto; height: auto; }               

	#rightInner { padding : 14px 14px; }	
	#table { top: 92px; position: relative;  text-align: justify; background: url('../Images/pageBg.jpg') left top repeat; }
	#table .turn-page  { background: url('../Images/pageBg.jpg') left top repeat; }
	
	.contentBox { width: 100%; background: url('../Images/tableHeaderBg.jpg') left top repeat-x, -moz-linear-gradient( rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 95%); background: url('../Images/tableHeaderBg.jpg') left top repeat-x, -webkit-gradient(  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  from(rgba(255,255,255,0.5)), to(rgba(0,0,0,0.5)) ); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
  
		.contentBox table.grid tr { font: 13px arial; }
		.contentBox table.grid tr:hover td { background: #eeeeee; }
		.contentBox table.grid th { line-height: 45px; font-weight: bold; color: #fff; }
		.contentBox table.grid td { border-bottom: 1px solid #ffffff; }
		.contentBox table.grid td:last-child, .contentBox th:last-child { padding: 7px 0px 7px 0px;}
		.contentBox table.grid td:first-child, .contentBox th:first-child { padding-left: 20px;}
	  
		.contentBox table.grid1 tr { font: 13px arial; }
		.contentBox table.grid1 th { line-height: 30px; font-weight: bold; color: #fff; }
		.contentBox table.grid1 td { border-bottom: 1px solid #ffffff; }
		.contentBox table.grid1 td:last-child, .contentBox th:last-child { padding: 7px 0px 7px 0px;}
		.contentBox table.grid1 tr:last-child td { border: none; padding: 10px; }
		.contentBox table.grid1 td:first-child, .contentBox th:first-child { padding-left: 20px;}
	
	.contentBoxSmall { width: 100%; background: url('../Images/tableHeaderBgSmall.jpg') left top repeat-x, -moz-linear-gradient( rgba(238, 238, 238, 0.9) 0%, rgba(188, 188, 188, 0.9) 95%); background: url('../Images/tableHeaderBgSmall.jpg') left top repeat-x, -webkit-gradient(  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  from(rgba(238,238,238,0.9)), to(rgba(188,188,188,0.9)) ); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
  
    #CreateTable { height:320px; overflow:auto; }
	#CreateTableSmall { height:240px; overflow:auto; }
  
		.contentBoxSmall table.grid1 tr { font: 13px arial; }
		.contentBoxSmall table.grid1 th { line-height: 25px; font-weight: bold; color: #fff; }
		.contentBoxSmall table.grid1 td { border-bottom: 1px solid #ffffff; }
		.contentBoxSmall table.grid1 td:last-child, .contentBoxSmall th:last-child { padding: 7px 0px 7px 0px;}
		.contentBoxSmall table.grid1 td:first-child, .contentBoxSmall th:first-child { padding-left: 10px;}
		.contentBoxSmall textarea { width: 100%; height: 80px; text-align: left; margin-bottom: 10px; }
				
		.tableDiv { display: table; border-bottom: 1px solid #000; width: 100%; margin: 3px 0px 3px 0px; padding-bottom: 5px; }
		.tableDiv:last-child { border: none; }
		.tableRow { display: table-row; }
		.tableCell { display: table-cell; padding: 3px; }
		.tableCell:first-child { width: 100px; font-weight: bold; }
		
	/* ### GENERAL POPUP USED IN PAGES OTHER THAN LOGIN ### */
	.popUpCover { font: 15px arial; position: absolute; width: 100%; height: 100%; background: rgba(0%, 0%, 0%, 0.8); display: none; z-index: 9999; }
	.PopUp { top: 50%; left: 50%; margin-left: -300px; position: absolute; height: auto; width: 600px; border: 3px solid black; background: rgba(255%, 255%, 255%, 0.9); overflow: auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
	.PopUp .heading { background: #000; color: #fff; padding: 5px; font-weight: bold; }
	.PopUp label.group { width: 50px; display: block; float: left; }
	.PopUp select.group { height: 40px; width: 220px; margin-bottom: 10px; }
	.textAreaLeft, .textAreaRight { height: 300px; overflow: auto; background: #fff; border: 1px solid #ccc; width: 200px; padding: 10px; }                
	.textAreaLeft p, .textAreaRight p { font: 15px arial; padding: 10px 5px; border-bottom: 1px solid #ccc; }
	.textAreaLeft p:hover, .textAreaRight p:hover { background: #82CAFF; }
	.textAreaFull { width: 450px; }	
	
	/* ### BOTTOM MENU TAB SLIDE ### */
	#bottomMenu { text-align: center; width: 98%; left: 50%; margin-left: -49%; height: 120px; position: fixed; bottom: -120px; background: #000; z-index: 2000; background: -moz-linear-gradient( rgba(238, 238, 238, 0.9) 0%, rgba(153, 153, 153, 0.9) 95%); background: -webkit-gradient(  linear, left top, left bottom, from(rgba(50,50,50,0.8)),
  from(rgba(238,238,238,0.9)), to(rgba(153,153,153,0.9)) ); border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border: 1px solid #646567; }

	#bottomMenuButtonDiv { width: 100%; text-align: center; position: fixed; bottom: -2px; z-index: 2001; }
	
	#bottomMenuButtonDiv a .closed { margin: 0px auto; background: url('../Images/bottomMenuClosed.png') left bottom no-repeat; height: 31px; width: 147px; }
	#bottomMenuButtonDiv a .closed:hover { background: url('../Images/bottomMenuClosedHover.png') left bottom no-repeat; }
	
	#bottomMenuButtonDiv a .opened { margin: 0px auto; background: url('../Images/bottomMenuOpen.png') left bottom no-repeat; height: 31px; width: 147px; }
	#bottomMenuButtonDiv a .opened:hover { background: url('../Images/bottomMenuOpenHover.png') left bottom no-repeat; }
	
	#bottomMenu ul { margin: 65px 0px 0px 0px; text-align: center }
	#bottomMenu ul li { display: inline; list-style: none; padding: 10px 6px; }
	#bottomMenu ul li a { border: 1px solid #000; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding: 10px 30px; text-decoration: none; color: #fff; font-weight: bold; background: -moz-linear-gradient(top,  #ccc,  #000 50%); background: -webkit-gradient(linear, left top, left bottom, from(#ccc),color-stop(50%, #000), to(#000)) }
	#bottomMenu ul li a:hover { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }
	#bottomMenu ul li a.active { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }
	#bottomMenu ul li a.disableButton { background: -moz-linear-gradient(top,  #dddddd,  #7f7f7f 50%); background: -webkit-gradient(linear, left top, left bottom, from(#dddddd),color-stop(50%, #7f7f7f), to(#7f7f7f)); color: #cccccc; }
	
	/* ### LOGIN ### */
	#loginPage { background: url('../Images/tabletBg.png') left bottom no-repeat, url('../Images/backgroundLogo.png') center 200px no-repeat, url('../Images/clock.png') left top no-repeat, url('../Images/bodyBg.jpg') center top repeat; }
		
		#loginCntr { width: 80%; background: rgba(0%, 0%, 0%, 0.2); position: absolute; left: 10%; top: 10%; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
		#loginCntr form { padding: 30px 50px; font:  20px arial; color: #ffffff; }
		#loginCntr form li { padding-bottom:20px; list-style: none; overflow: hidden; }
		#loginCntr form li:last-child { padding: 0px; }
		#loginCntr form .txt { color: #000; padding: 10px;  font:  20px arial; width: 77%; float: left; background: #fff; border-top: 2px solid #5b5b5b; border-left: 2px solid #5b5b5b; border-right: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
		#loginCntr form div.txt { width: 77%; position: relative; }
		#loginCntr form div.txt img { position: absolute; top: 3px; right: 3px; }
		#loginCntr form label { width: 20%;  }
		#loginCntr form label.left { line-height: 55px; display: block; float: left; }
		#loginCntr form li.button { text-align: center; }
		#loginCntr form .loginButton { font:  20px arial; color: #fff; width: 138px; height: 45px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #3f3f3f; border-top: 2px solid #3f3f3f; background: url('../Images/buttonBg.png') left bottom repeat-x; cursor: pointer; }
		#loginCntr form .loginButton:hover { background: -moz-linear-gradient(top,  #92c1f7,  #0c4e9a 50%); background: -webkit-gradient(linear, left top, left bottom, from(#92c1f7),color-stop(50%, #0c4e9a), to(#0c4e9a)); border: 1px solid #043165; }
		#loginCntr div.radio { float: left; width: 40%; }
		#loginCntr div.radio:last-child { float: left; width: 20%; }
		#loginCntr div.radio img { float: left; margin-right: 10px; }
		#loginCntr div.radio label { padding-top: 2px; display: block; float: left; width: 70%;}
		#loginCntr .checkboxCover { padding: 20px 0px 0px 0px; width: 400px; margin: 0 auto; overflow: hidden; }
		#loginCntr .checkboxCover div.check { float: left; width: 50%; }
		#loginCntr div.check { float: left; width: 20%; }
		#loginCntr div.check img { float: left; margin-right: 10px; }
		#loginCntr div.check label { padding-top: 2px; display: block; float: left; width: 70%;}
		#dbEditText{color:#A0A0A0;}
		
		/* ### LOGIN DATABASE POPUP ### */
.databasePopupCover { position: absolute; width: 100%; height: 100%; background: rgba(0%, 0%, 0%, 0.8); display: none; z-index: 9999; }
.databasePopup { top: 50%; left: 50%; margin-left: -250px; margin-top: -64px; position: absolute; height: 128px; width: 500px; border: 3px solid black; background: rgba(255%, 255%, 255%, 0.9); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow: 3px 3px 5px #000; }
.databasePopup .heading { background: #000; color: #fff; padding: 10px; font: 18px arial; font-weight: bold; }
.databasePopup ul li { border-bottom: 1px solid #000; padding: 10px; }
.databasePopup ul li:hover { background: #286dca; }
.databasePopup ul li:hover a { color: #fff; }
.databasePopup ul li:last-child { border: none; }
.databasePopup ul li a { display: block; font: 18px arial; color: #000; text-decoration: none; }

		/* ### PYRAMID LOGO USED IN LOGIN & SETTING ### */
		#logoLogin { position: absolute; width: 181px; height: 67px; right: 50%; bottom: 60px; margin-right:-100px; }
		#logoLogin h1 { text-indent: -9999px; width: 181px; height: 67px; display: block; background: url('../Images/logo.png') right bottom no-repeat}
		
		/* ### PAGE FLIP MENU USED IN LOGIN PAGE ### */
		#setting { position: absolute; width: 170px; height: 180px; right: 0px; bottom: 0px; text-indent: -9999px; display: block; background: url('../Images/settingIcon.png') right bottom no-repeat }

	/* ### SETTINGS ### */
	#settingPage { background: url('../Images/settingPageBg.jpg') center top repeat; background-size:100% 100%; }
	
		#settingCntr { width: 80%; background: rgba(0%, 0%, 0%, 0.2); position: absolute; left: 10%; top: 10%; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
		#settingCntr form { padding: 30px 50px; font:  20px arial; color: #ffffff; }
		#settingCntr form li { padding-bottom:50px; list-style: none; overflow: hidden; text-align: center; }
		#settingCntr form li:last-child { padding: 0px; }
		#settingCntr form .txt { padding: 10px; font: 20px arial; width: 77%; background: #fff; border-top: 2px solid #5b5b5b; border-left: 2px solid #5b5b5b; border-right: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
		#settingCntr form input.loginButton { padding: 6px 20px; font:  20px arial; color: #fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #3f3f3f; border-top: 2px solid #3f3f3f; background: url('../Images/buttonBg.png') left bottom repeat-x; cursor: pointer; }
		
		/* ### PAGE FLIP MENU USED IN SETTING PAGE ### */
		#settingPage .loginIcon { position: absolute; width: 170px; height: 180px; top: 0px; left: 0px; text-indent: -9999px; display: block; background: url('../Images/loginBackIcon.png') top left no-repeat  }
		
		/* ### LEFT MENU COLLAPSE MENU ### */
		/*#CollapseMenu { padding: 55px 0px 0px 34px; text-align: left; }
		.menuStyle, .collapse_all { cursor: pointer; }
		.menuStyle { font-size: 90%; list-style: none; margin: 0; padding: 0; vertical-align: top; }
		.menuStyle ul { display: none; list-style: none; margin: 0; padding: 0; }
		#leftMenu { 	margin: 0; }
		.menuStyle li { margin: 0; padding: 0; }
		.menuStyle ul ul { display: block; }
		.menuStyle ul ul li a { padding-left: 20px; }
		.menuStyle a { color: #000; cursor: pointer; display: block; font: 15px arial; margin-left: 0; padding: 24px 2px 2px 25px; }
		.menuStyle a.expanded { background: url('../Images/expand.png') no-repeat 0 0; padding: 26px 2px 0px 40px; }
		.menuStyle a.collapsed { background: url('../Images/collapse.png') no-repeat 0 0; }
		.menuStyle a:hover { text-decoration: none; }
		.menuStyle ul a { background:url('../Images/pinClosed.png') no-repeat 19px 9px; color: #000; display: block; font-weight: normal; padding: 8px 2px 0px 50px; height: 25px; margin-top: 10px; margin-bottom: 3px; font: 15px arial; text-decoration: none; }
		.menuStyle ul li ul li { padding-left: 10px; }
		.menuStyle ul li ul li a { padding-left: 50px; margin: 0px; height: 25px; }
		.menuStyle ul a:link { font-weight: normal; }
		.menuStyle ul a:hover { background: #ccc url('../Images/pinOpened.png') no-repeat 19px 9px; }
		.menuStyle li.active a { background: url('../Images/pinOpened.png') no-repeat 19px 9px; }
		.menuStyle li.active li a { background: red; }
		#leftMenu li.footer, .menuStyle .footer { background: transparent url('Images/footer.jpg') no-repeat 0 0; padding: 0 0 28px 0;  }
		.menuStyle .footer span { display: none; }*/	
		
		#CollapseMenu { padding: 55px 0px 0px 34px; text-align: left; }
		.menuStyle, .collapse_all { cursor: pointer; }
		.menuStyle { font-size: 90%; list-style: none; margin: 0; padding: 0; vertical-align: top; }
		#leftMenu { 	margin: 0; }
		.menuStyle li { margin: 0; padding: 0; list-style: none; }
		.menuStyle a { color: #000; cursor: pointer; display: block; font: 15px arial; margin-left: 0; padding: 24px 2px 2px 25px; }
		.menuStyle a.collapsed { background: url('../Images/collapse.png') no-repeat 0 0; }		
		.menuStyle ul a { background:url('../Images/pinClosed.png') no-repeat 19px 9px; color: #000; display: block; font-weight: normal; padding: 8px 2px 0px 50px; height: 25px; margin-top: 10px; margin-bottom: 3px; font: 15px arial; text-decoration: none; }
		.menuStyle ul li ul li { padding-left: 10px; }
		.menuStyle ul li ul li a { padding-left: 50px; margin: 0px; height: 25px; }
		.menuStyle ul a:link { font-weight: normal; }
		.menuStyle ul a:hover { background: #ccc url('../Images/pinOpened.png') no-repeat 19px 9px; }
		.menuStyle li.active a { background: url('../Images/pinOpened.png') no-repeat 19px 9px; }
		
		#leftMenu li.footer, .menuStyle .footer { background: transparent url('Images/footer.jpg') no-repeat 0 0; padding: 0 0 28px 0;  }
		.menuStyle .footer span { display: none; }
		
		/* ### COLLAPSE CONTENT ### */
		#CollapseContent{ text-align: left; }
		.CollapseContentStyle, .collapse_all { cursor: pointer; }
		.CollapseContentStyle { font-size: 90%; list-style: none; margin: 0; padding: 0; vertical-align: top; }
		.CollapseContentStyle ul { display: none; list-style: none; margin: 0; padding: 0px; }
		#CollapseContentMenu { 	margin: 0; }
		.CollapseContentStyle li { margin: 0; padding: 10px 10px 10px 10px; }
		.CollapseContentStyle li .reset { float: right; margin: 9px 7px 0px 0px; }
		.CollapseContentStyle ul ul { display: block; }
		.CollapseContentStyle ul ul li a { padding-left: 20px; }
		.CollapseContentStyle a { color: #000; cursor: pointer; display: block; font: 15px arial; margin-left: 0; padding: 12px 2px 12px 45px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border: 1px solid #acacac; box-shadow: 1px 2px 5px #b3b5b4; }
		.CollapseContentStyle a.expanded { background: #f5f5f5 url('../Images/minus.png') no-repeat 8px 4px; }
		.CollapseContentStyle a.collapsed { background: #f5f5f5 url('../Images/plus.png') no-repeat 8px 4px; }
		.CollapseContentStyle a.disable { background: #dddddd url('../Images/plus.png') no-repeat 8px 4px; }
		.CollapseContentStyle a:hover { text-decoration: none; }
		#CollapseContentMenu li.footer, .CollapseContentStyle .footer { background: transparent url('Images/footer.jpg') no-repeat 0 0; padding: 0 0 0px 0;  }
		.CollapseContentStyle .footer span { display: none; }
		
		.CollapseTable { display: table; width: 100%; padding-bottom: 5px; }
		.CollapseRow { display: table-row; }
		.CollapseCell { display: table-cell; padding: .5%; }
		.CollapseCell:nth-child(odd) { width: 10%; }
		.CollapseCell:nth-child(even) { width: 35%; }
		
	    /*.CollapseTable { display: table; width: 100%; padding-bottom: 5px; }
	    .CollapseRow { display: table-row; }
	    .CollapseCell { display: table-cell; width: 21%; padding: 1%; font: bold 13px arial; }*/
	  
	    .CollapseCell input.txtBox { width: 180px; border-radius:10px; padding: 5px; border: 1px solid #dddddd; }
		.CollapseCell input.txtBoxDisable { width: 180px; border-radius:10px; padding: 5px; border: 1px solid #cccccc; background: #eee; }
	    .CollapseCell select { width: 190px; padding: 5px; border: 1px solid #dddddd; }
		.calender { background: #ffffff url('../Images/calender.png') no-repeat 98% 50%; width: 180px; border-radius:10px; padding: 5px; border: 1px solid #dddddd; }
		
		/* ### BOTTOM TAB NEXT/BACK FLIP BUTTON ### */
		#bottomTab { position: fixed; width: 80px; height: 55px; right: 0px; bottom: 0px; z-index: 9999; }